*{
    margin: 0;padding: 0;
}
body {
    color: #fff;
    font-family: "PingFang SC", "Microsoft YaHei", 微软雅黑, "SimHei", "Heiti SC", "STHeiti", 黑体, 宋体, "Open Sans", sans-serif;
    font-size: 16px;
}

.navbar-fixed-top {
    -webkit-backface-visibility: hidden;
}

.header {
    height: 76px;
    position: absolute;
}

.green-back {
    background-color: #00B13D;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
    
.navbar-nav li a {
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-nav li {
    width: 160px;
    text-align: center;
}

@media only screen and (min-width: 1001px) {
    .tab .liner{ 
        background-color:#fff;
        position:absolute;
        top:50px;
        width:150px;
        height:3px;
    }

    .navbar-brand img {
        width: 150px;        
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .navbar-brand img {
        width: 150px;
        margin-left: 0px;
        margin-top: 0px;
    }
}

.important-con {
    position: relative;
    width: 100%;
}
.banner-page {
    position: relative;
    overflow: hidden;
}

.left, .right {
    width: 47px;
    height: 48px;
    position: absolute;
    top: 50%;
    text-align: center;
    line-height: 50px;
}

.left {
    left: 0%;
}

.right {
    right: 0%;
}

.banner-page {
    width: 100%;
}

.banner-page .slides {
    width: 100%;
}

.banner-page .slides li {
    float: left;
    list-style: none;
}

.banner-page .slides li img {
    width: 100%;
    height: 700px;
}

.download-page {
    height: 200px;
    top: 485px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

@media only screen and (min-width: 1001px) {
    .download-con{
        height: 78px;
        position: absolute;
        top: 33px;
        left: 49%;
        font-size: 16px;
        color: #FEFEFE;
        line-height: 26px;
        font-weight: 100;
    }

    .go-page{
        position: absolute;
        top: 50%;
        left: 49%;
    }
    
    .google-pic {
        height: 61px;
    }
}

@media only screen and (max-width: 1000px) {
    .download-page{
        height: 250px;
        top: 480px;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .download-con{
        height: 78px;
        position: absolute;
        margin-top: 50px;
        font-size: 16px;
        text-align: center;
        color: #FEFEFE;
        line-height: 26px;
        font-weight: 100;
    }
    .google-pic {
        display: none;
    }
}

.introduce-gocash {
    width: 100%;
    height: 571px;
    background-image: url("../images/introduce/introduce-background.png");
}

.process-title {
    text-align: center;
    position: relative;
}

.process-con{
    margin-top: 18px;
    font-size: 40px;
    color: #515151;
    line-height: 40px;
    font-weight: 500;
}


.long-text {
    width: 80%;
    height: 130px;
    text-align: justify;
    margin: 0 auto;
    font-size: 16px;
    color: #6D6D6D;
    line-height: 26px;
    padding-top: 48px;
    font-weight: 100;
}


.tag-line {
    text-align: center;
    margin-top: 100px;
    font-size: 23px;
    color: #6D6D6D;
    line-height: 26px;
    font-weight: 500;
}

.animate-pic{
    margin-top: 0%;
    opacity: 0;
}
.animate-con{
    margin-top: 0%;
    opacity: 0;
}
.animate-text{
    margin-top: 0%;
    opacity: 0;
}
.process-pic img{
    width: 92px;
    height: 92px;
}

@media only screen and (max-width: 1000px) {
    .process-title .process-con {
        margin: 0 auto;
        font-size: 24px;
    }

    .tag-line {
        width: 80%;
        margin: 0 auto;
        margin-top: 300px;
        font-size: 20px;
    }
    .process-pic img {
        /* text-align: center; */
        width: 50px;
        height: 50px;
    }
    .long-text {
        font-size: 14px;
        height: 100px;
        font-weight: 400;
    }
}

.feature {
    width: 100%;
    text-align: center;
    height: 100%;
    color: #515151;
    position: relative;
}


.feature-title {
    font-size: 40px;
    color: #515151;
    padding-top: 174px;
    font-weight: 500;
    opacity: 0;
}

@media only screen and (max-width:1000px) {
    .feature-title {
        font-size: 28px;
        padding-top: 50px;
    }
}

.feature dl {
    text-align: center;
    display: inline-table;
    margin: 53px auto;
}

.feature dl dt{
    width: 224px;
    height: 224px;
    margin: 70px auto;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px dashed #D2D2D2;
    opacity: 0;
}
.feature dl dt img{
    margin-top: 50px;
    width: 158px;
    height: 126px;
}
.feature dl dd{
    text-align: center;
    margin: 14px auto;
}
.feature dl dd h2{
    margin: 0px 0 10px 0;
    font-weight: 500;
    opacity: 0;
    height: 150px;
    font-size: 24px;
    padding-top: 100px;
}
.feature dl dd p{
    margin-top: 110px;
    font-weight: 100;
    text-align: center;
    color: #6D6D6D;
    opacity: 0;
}

.dls{
    padding-right: 38px;
}

@media only screen and (min-width: 571px) {
    .feature dl {
        width: 15%;
    }
}

@media only screen and (max-width: 570px) {
    .feature dl {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .dls {
        padding-right: 0px;
    }
}

.process-title{
    text-align: center;
    padding-top: 73px;
    position: relative;
}

@media only screen and (min-width: 1001px) {
    .application-process-desktop {
        width: 100%;
        height: 863px;
        margin: 0 auto;
        background-image:url("../images/banners/banner-background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    
    .application-process-desktop {
        display: block;
    }

    .application-process-mobile {
        display: none;
    }

}
@media only screen and (max-width:1000px) {
    .application-process-mobile {
        width: 100%;
        height: 863px;
        margin: 0 auto;
        background-image:url("../images/banners/banner-background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .application-process-desktop {
        display: none;
    }
    .application-process-mobile {
        display: block;
        height: 700px;
    }

    .mobile-images {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
    }

    .mobile-images img {
        position: absolute;
        margin: 0 auto;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
    }
    .process-title {
        padding-top: 10px;
    }
    .mobile-phone {
        z-index: 0;
    }
    
    .carousel-inner {
        width:100%;
        max-height: 200px !important;
        z-index: 2;
        overflow: visible !important;
    }
    .carousel-inner img {
        top: 45px;
    }

    .step-information-icon {
        position: relative;
        bottom: 40px;
        margin-left: -85%;        
    }

    .step-information-icon img {
        width: 40px;
        height: 40px;
    }

    .step-information {
        -ms-transform: scale(1.4, 1.4); /* IE 9 */
        -webkit-transform: scale(1.4, 1.4); /* Safari */
        transform: scale(1.4, 1.4);
        position: relative;
        top: 580px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        color: #ffffff;
    }
    .carousel-control-prev, .carousel-control-next {
        margin-top:  60%;
    }

    .step-information-header {
        margin-left: 16%;
        font-weight: bold;
    }

    .step-information-header i {
        background-color: rgb(231, 228, 38);
        color: #00B13D;
    }

    .step-information .step-header {
        font-weight: bold;
    }
}

.process-con{
    margin-top: 18px;
    font-size: 40px;
    color: #515151;
    line-height: 40px;
}
.change-color {
    color: #FFFFFF!important;
}

.steps {
    height: 84px;
    border: 1px solid #ccc;
    margin: 40px auto;
    width: 90%;
    background: rgba(0,0,0,.13);
}

.steps li{
    height: 84px;
    list-style: none;    
    float: left;
    width: 25%;
    text-align: center; 
    position: relative;
    border-right: 1px solid #fff;
    line-height: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

.steps li i{
    font-style: normal;
    font-size: 24px;
    margin-top: 47px;
}
.steps li span{
    font-size: 16px;
    position: relative;
    top: -45%;
}
.steps li b{
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    display: none;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 10px solid #FFFFFF;
}
.first{
    background: #FFFFFF;
}

.font-color{
    color: #515151;
}

.font-colors{
    color: #FFFFFF;
}
.point{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #FFFFFF;
    position: absolute;
}
.point-one{
    left: 16%;
    top: 42.3%;
}
.point-two{
    left: 41.5%;
    top: 42.3%;
}
.point-three{
    left: 57.5%;
    top: 42.3%;
}
.point-four{
    left: 72.5%;
    top: 42.3%;
}
.phones{
    height: 670px; 
    position: relative;
}
.phone-pic{
    width: 890px;
    height: 630px;
    z-index: 200;
    margin: 0 auto;
    position: relative;
}

.big-phone {
    width: 442PX;
    height:615px;
    background: url("../images/shadow.png") no-repeat bottom center;
    background-size: 442PX 110PX;
    position: relative;
    text-align: center;
}

.big-phone .big-phone-pic {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0;
}

.bigs {
    width: 256px;
    height:445px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top:45px;
    right:0;
    bottom: 0;
    margin: 0 auto;
}

.move-pic {
    width: 1200px;
}

.move-pic .pics {
    height:445px; 
}

.move-pic img {
    float: left;
    width: auto;
}

.shadow {
    width: 355px;
    height: 70px;
}

.shadow img {
    width: 100%;
    display: block;
}

.footer {
    height: 76px;
    background: #292929;
    line-height: 76px;
    font-size: 18px;
    padding-left: 5%;
    font-weight: 100;
    color: #ffffff;
}

@media only screen and (max-width: 1000px) {
    .footer {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        height: 32px;
        color: #ffffff;
    }
}

.footer div {
    width: 100%;
    margin: 0 auto;
}

.money-pic {
    position: absolute;
    left: 77%;
    top: 50%;
    width: 57px;
    height: 65px;
}

.person-left {
    position: absolute;
    top: 80%;
}
.picShadow{
    position: absolute;
    left: -34px;
    top: 50px;
}
.picShadow1{
    position: absolute;
    right: -35px;
    top: 50px;
}
.picShadow img{
    height: 520px;
}
.picShadow1 img{
    height: 520px;
    transform: rotate(180deg);
}
.dds {
	width: 245px;
}

.phone-right {
    position: absolute;
    width: 330px;

    height: 393px;
    right: 115px;
    top: 15%;
    overflow: hidden;
}

.phone-right-content {
    width: 1320px;
    height: 100%;
}

.pulse1 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0%;
    top: 0%;
    background: rgba(0,0,0,.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.2;
    -webkit-animation: warn1 2s ease-out;
    -moz-animation: warn1 2s ease-out;
    animation: warn1 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes warn1 {
    0% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    100% {
        transform: scale(2.4);
        -webkit-transform: scale(2.4);
    }
}

.small-yuan {
    width: 161px;
    height: 161px;
    border-radius: 50%;
    border: 33px solid #EFEFEF;
    position: absolute;
    left: 0%;
    top: -25;
}

.big-yuan {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 37px solid #F9F9F9;
    position: absolute;
    left: -20%;
    top: -20%;
}

.person {
    width:162px; 
    height: 162px;
}

.call-number {
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
}

.call {
    height: 423px;
    background: #FFFFFF;
}

.call-number number {
    font-size: 36px;
    color: #21AB50;
    display: block;
    font-weight: 500;
}

.call-number p {
    color: #515151;
    font-size: 36px;
    position: absolute;
    top: -35px;
    font-weight: 500;
    width: 600px;
}

.call-number i {
    font-style: normal;
    font-size: 16px;
    color: #515151;
    position: absolute;
    top: 95px;
    width: 300px;
}

.person img {
    display: inline-block;
    width: 100%;
}

.person-img {
    z-index: 99;
    position: absolute;
}

.schedule a, .schedule a:hover {
    color: #21AB50;
    text-decoration: none;
}

.schedule i {
    position: absolute;
    left: 0;
}

@media only screen and (min-width: 1001px) {
    .call {
        margin-left: 20%;
    }
    .person {
        left: 500px;
        top: -50px;
        position: absolute;
    }

    .number {
        margin-top: 80px;
        color: #21AB50;
    }
    
    .schedule {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .call {
        width: 100%;
    }

    .person {
        margin-left: auto;
        margin-right: auto;
    }

    .call-number {
        position: relative;
        padding-top: 40px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }    

    .person-left {
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto; 
    }

    .person {
        left: 0%;
        position: relative;
        margin-top: 40px;
        width:122px; 
        height: 122px;
    }

    .person span {
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }

    .pulse1 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 0%;
        top: 0%;
        background: rgba(0,0,0,.2);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 1;
        opacity: 0.2;
        -webkit-animation: warn1 2s ease-out;
        -moz-animation: warn1 2s ease-out;
        animation: warn1 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    .small-yuan {
        width: 141px;
        height: 141px;
        border-radius: 50%;
        border: 33px solid #EFEFEF;
        position: absolute;
        left: -10%;
        top: -10;
    }
    
    .big-yuan {
        width: 205px;
        height: 205px;
        border-radius: 50%;
        border: 37px solid #F9F9F9;
        position: absolute;
        left: -33%;
        top: -33%;
    }
        
    .call-number .number {
        font-size: 18px;
        color: #21AB50;
        display: block;
        margin-bottom: 0px;
        font-weight: 500;
        margin-top: 0px;
    }
        
    .call-number p {
        color: #515151;
        font-size: 36px;
        position: relative;
        top: 0px;
        font-weight: 500;
        width: 100%;
    }
    
    .schedule {
        margin-top: 40px;
    }

    .call-number i {
        font-style: normal;
        font-size: 16px;
        color: #515151;
        position: relative;
        top: 0px;
        width: 100%;
    }    
}

.tel a:hover, .tel a {
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (min-width: 1001px) {
    .content-detail {
        height: 285px;
        background: #343434;
        color: #ffffff;
        padding-left: 5%;
        
        position: relative;
        font-weight: 100;
    }
    
    .goto {
        position: absolute;
        right: 0;
        top: -7%;
        width: 40px;
        height: 40px;
    }
    
    .goto img {
        width: 100%;
    }
    
    .content-detail-page {
        width: 100%;
        height: 332px;
        margin: 0 auto;
        position: relative;
    }
    
    .left-con {
        height: 332px;
        float: left;
    }
    
    .right-con {
        float: right;
        width: 271px;
    }
    
    .content-title {
         position: absolute;
         top: 71px;
         font-size: 32px;
         font-weight: 500;
    }
    
    .address {
        position: absolute;
        top: 125px;
        width: 323px;
        font-size: 13px;
    }
    
    .tel {
        position: absolute;
        top: 186px;
        font-size: 28px;
    }
    
    .tel span {
        margin-left: 0px;
        font-weight: 500;
    }
    
    .subscribe-to-us {
        position: absolute;
        font-size: 32px;
        top: 71px;
        font-weight: 500;
    }
    .loadding {
        width: 100%;
        height: 75px;
    }
    
    .loadding-imgs div {
        width: 265px;
        height: 62px;
        display: inline-block;
        float: left;
        margin-right: 65px;
    }
    
    .loadding-imgs div img {
        width: -webkit-fill-available;
        width: -moz-available;
        display: inline-block;
        float: left;
        padding-right: 205px;
    }
    
    .right-cons {
        margin-top: 25px;
        width: 330px;
        height: auto;
        font-size: 36px;
        color: #FFFFFF;
        line-height: 41px;
        float: left;
    }
    
    .right-conss {
        width: 330px;
        height: auto;
        margin-top: 42px;
        font-size: 16px;
        color: #F3F3F3;
        float: left;
        font-weight: 100;
    }
    
    .show-pic {
        position: absolute;
        top: 126px;
    }
    
    .show-pic div {
        width: 40px;
        height: 35px;
        float: left;
    }
    
    .show-pic span {
        margin-right: 17px;
        font-size: 25px;
        color: #ffffff;
        display: inline-block;
    }
    
    .bottom-icon {
        position: absolute;
        top: 176px;
    }
    
    .bottom-icon img {
        margin-right: 18px;
    }
}
@media only screen and (max-width: 1000px) {
    .content-detail {
        height: 285px;
        background: #343434;
        color: #ffffff;
        position: relative;
        font-weight: 100;
        padding-top: 20px;
        padding-left: 20px;
    }

    .content-detail-page {
        width: 100%;
        height: 0;
        margin: 0 auto;
        position: relative;
    }
    
    .show-pic a {
        display: inline-block;
        padding-right: 2%;
    }

    .show-pic span {
        color: #ffffff;        
        font-size: 18px;
    }

    .goto {
        display: none;
    }
    
    .tel {
        font-weight: bold;
    }

    .content-title {
        font-size: 18px;
        font-weight: bold;
    }
}


.disclaimer {
    background: #FAFAFA;
    padding-bottom: 40px;
    color: #6D6D6D;
    align-content: center;
}
.disclaimer-content {
    font-family: "PingFangTC-Regular";
    margin-left: 5%;
    font-size: 12px;
    text-align: justify;
    padding-right: 5%;
}

.disclaimer-title {
    font-family: "DINAlternate-Bold";
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 24px;
}

.disclaimer-content li {
    padding-bottom: 12px;
}

.blog-preview {
    text-align: center;
}

.blog-content a {
    color: #000000;
    text-decoration: none;
    position: relative;
}

.blog-header {
    color: #515151;
}

.blog-content li {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    margin: 0 2%;
    padding-top: 2%;
    background-color: #FFFFFF;
    height: 560px;
    width: 280px;
    text-align: justify;
    margin-top: 0;
    padding: 0 10px;
    margin-bottom: 12px;
}

.blog-post-image {
    width: 260px;
    height: 150px;
}

.blog-content li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.blog-title {
    color: #515151;
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
    font-family: "";
}

.blog-date {
    font-size: 12px;
}

.blog-excerpt {
    color: #292929;
    text-align: justify;
    font-size: 14px;
    margin-top: 24px;
    height: 280px;
}

.blog-content a:hover {
    color: #292929;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .blog-excerpt {
        display: none;
    }
    .blog-content li {
        height: 240px;
    }
    .blog-date {
        text-align: center;
    }
}